html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  width:100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  padding:10px;
  
}


.manly-font {
  font-family: 'Staatliches', cursive;
}

.liberal-font {
  font-family: 'Dancing Script', cursive;
}

.black-font {
  color: black;
}

.white-font {
  color:white;
}

#display-text-p {
  border: 1px solid red;
}

.hide {
  display:none;
}

.responsive {
  width: 100%;
  height:auto;
}

.module {

  background-size: cover;
  margin: 10px 0 20 10px;
  position: relative;
  float: left;
  border: 1px red solid;
}

/* .bottom p {
  color: white;
  margin: 0;
} */

.top p {
  top: 20px;
}

button {
  margin: 15px 0px;
  display:inline-block;
}

#display-text-input {
  border: 1px solid black;
}

#display-module {
  width:100%;
}

.final-quote {
  border: solid green 1px;
  position: relative;
  font-size: 3rem;
}
p.tag-line {
  right: 0px;
  bottom: 0px;
  display: none;
  width: 100%;
  text-align: end;
}
#quote-container {
  position: absolute; 
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  align-items: flex-end;
  flex-flow: column;
}

.justify-end {
  justify-content: flex-end;
}


/* Menu ------------------------------------------- */
.multi-level, .item ul, .menu-bar input[type="checkbox"] {
  display: none;
}

#menu:checked ~ .multi-level, .item input:checked ~ ul {
  display: block;
}

 .arrow {
  width: 12px;
  height: 12px;
  vertical-align: middle;
  float: left;
  z-index: 0;
  margin: 17px 1em 0 2em;
}


.item input + .arrow {
  transform: rotate(-90deg);
  transition: 0.1s;
}
.item input:checked + .arrow {
  transform: rotate(0deg);
  transition: 0.1s;
}

label:hover {
  cursor: pointer;
}
label {
  width: 100%;
  display: block;
  z-index: 3;
  position: relative;
}

.menu-bar {
 
  background-color: blueviolet;
  overflow-x: hidden;
  
}

#nav-icon {
  font-size: 28px;
  line-height: 50px;
  padding-left: 1em;

  background-color: #F44336;
} 


.menu-bar ul, .menu-bar li, label {
  line-height: 40px;
  margin: 0;
  
  list-style: none;
  text-decoration: none;
  
  font-weight: 100;
  width: 100%;
  border: 1px solid black;
}


.menu-bar li a {
  line-height: 30px;
  margin: 0;
  padding: 0 4em;
  list-style: none;
  text-decoration: none;
  font-weight: 100;
  border: 1px solid black;
}


@media (min-width:720px) {











}